.bundle/
.DS_Store
/.yardoc
/.ruby-version
Gemfile.lock
/gems
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/spec/test/
/spec/test_reopt/
/tmp/
/test/
/lib/measures/test_results
/lib/measures/*/tests/output
*.gem

.rubocop*s3*

# rspec failure tracking
.rspec_status

# Ignore IDE files
/.idea
runner.conf

# ignore template files for now
/template_inputs/*
test_opendss_catalog.json
*.sql